<!-- ko with: home -->

<h1 class="cover-heading">exifstats</h1>
<p class="lead">exifstats is under contruction.</p>
<p class="lead">
    <!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
    <a href="http://max.mayorov.photography" class="btn btn-lg btn-default"><img src="img/zenit.png" height="180" width="180"></a>
</p>

<!-- /ko -->
